html {
    overflow: auto;
}
.box-container {
    width: 90%;
    margin-bottom: 10rem;
}
.box-content {
    flex-direction: column;
}
.left {
    width: 100%;
    padding: 3rem 2rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.right {
    width: 100%;
    padding: 3rem 2rem;
}
.btn {
    width: 100%;
    font-size: 1.4rem;
}